@page "/suppliers"
@using UserPresentation.Services
@inject ApiSupplierService SupplierService

<PageTitle>Suppliers</PageTitle>

<h1>Suppliers</h1>

<NavLink href="suppliers/add" class="btn btn-primary mb-3">Add Supplier</NavLink>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var supplier in suppliers)
        {
            <tr>
                <td>@supplier.Id</td>
                <td><NavLink href="@($"suppliers/{supplier.Id}")">@supplier.Name</NavLink></td>
                <td>@supplier.EmailAddress</td>
            </tr>
        }
    </tbody>
</table>



@code {
    private List<Souk.Application.DTOs.SupplierDto> suppliers = new();

    protected override async Task OnInitializedAsync()
    {
        suppliers = await SupplierService.GetSuppliersAsync();
    }
}